/* 
    CSS  RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


/*
    ROOT 
 */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100px 620px 100px;
    justify-items: center;
    align-items: center;

    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f8f9;
    background: no-repeat 0% 10%/cover url('img/notebookbackground.jpg');
    color: #1A1423;
    height: 100vh;
    width: 100vw;
}

input:hover, button:hover {
    cursor: pointer;
}

/* 
    Dialog
 */

::backdrop {
    background-color: #63A46C;
    background-image: radial-gradient(
        circle,
        rgba(240, 183, 179, 1) 0%, 
        rgba(99, 164, 108, 1) 100%);
      opacity: 1;
}

dialog {
    background-color: #f5f8f9;
    border: 5px outset #E40066;
    font-size: 1rem;
    font-family: 'Walter Turncoat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1A1423;
    width: 400px;
    height: 300px;
}

#dialog-wrapper {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

dialog h1 {
    font-size: 2.5rem;
}

#new-game-form {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
}

#invalid-input {
 background-color: #FFF275;
}

#new-game-form label {
    float: left;
}

#new-game-form input[type="text"] {
    border: none;
    border-bottom: #1A1423 solid 2px;
    border-radius: 20px;
    background-color: #f5f8f9;
    float: right;
    width: 250px;
    height: 24px;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
}

#new-game-form input[type="text"]::placeholder {
    font-family: 'Walter Turncoat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#new-game-form input[type="text"]:hover {
    background-color: #FFF275;
} 

#activate-game {
    border: none;
    background: none;
    width: 150px;
    height: 60px;
    font-family: inherit;
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-self: center;
}

#activate-game:hover {
    background-color: #FFF275;
    transform: skew(-20deg);
}

/* 
    Landing Page
 */

#heading {
    width: 550px;
    height: 80px;
    background-color: #fff175a6;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-20deg);
}

#heading h1 {
    font-size: 3.5rem;
    font-family: 'Permanent Marker', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-row: 1 / 2 ;
}

#game-board {
    width: 600px;
    height: 600px;
    grid-row: 3 / 4;
}

.start-game {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: start;
    font-size: 1.5rem;
    font-family: 'Walter Turncoat', cursive;
}

#rules h2 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

#rules ol {
    list-style: decimal;
    list-style: inside;
}

#rules li {
    margin-bottom: 20px;
}

#start-button {
    border: 10px ridge #E40066;
    border-radius: 10px;
    background-color: white;
    color: #E40066;
    font-family: 'Rubik Bubbles';
    font-size: 2rem;
    display: flex;
    align-items: center;
}

#start-button:hover {
    background-color: #63A46C;
    color: #1A1423;
    border-color: #1A1423;
}

/* 
    Game Page
 */

.game {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    background-color: black;
}

.game-cell {
    background-color: #f5f8f9;
    width: 196.67px;
    height: 196.67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactive .game-cell {
    background-color: grey;
}

.clickable-cell:hover {
    background-color: red;
    cursor: pointer;
}

.player-token {
    color: black;
    font-size: 150px;
    font-family: 'Walter Turncoat', cursive;
}

#output {
    font-size: 1rem;
}

#restart {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #E40066;
    grid-row: 5 / 6;
}